.aboutimizer-widget {
    clear: both;
    overflow: hidden;
}
.aboutimizer-widget > .image {
    clear: left;
    float: left;
    height: 200px;
    width: 200px;
}
.aboutimizer-widget > .image .aboutimizer-upload {
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
}
.aboutimizer-widget > .image .aboutimizer-upload-preview {
    margin-bottom: 0;
    padding-bottom: 0;
}
.aboutimizer-widget > .image .aboutimizer-upload-preview + p {
    margin: 0;
    padding: 0;
    text-align: right;
}
.aboutimizer-widget > .image a.aboutimizer-upload-remove {
    color: #a00;
    font-size: 10px;
    position: relative;
    top: -10px;
}
.aboutimizer-widget > .image a.aboutimizer-upload-remove:hover {
    color: #F00;
}
.aboutimizer-widget > .text {
    clear: right;
    float: right;
    min-height: 200px;
    width: 380px;
}
.aboutimizer-widget > .text textarea {
    height: 120px;
}


/* Buttons */
.aboutimizer-widget .share {
    display: block;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 40px;
    top: 15px;
    width: auto;
}
.aboutimizer-widget .share .button {
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    width: auto;
    text-align: center;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    margin: 0 0 3px 0;
    padding: 0 6px;
    opacity:.4;
    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}
.aboutimizer-widget .share .button:hover,
.aboutimizer-widget .share .button:active {opacity:1;}
.aboutimizer-widget .share .button.button-donate {
    background-color: #e48e07;
    background-image: -webkit-linear-gradient(#e7a439, #e48e07);
    background-image: linear-gradient(to bottom, #e7a439, #e48e07);
    border-color: #e7a439 #e7a439 #ba7604;
    box-shadow: 0 1px 0 rgba(230, 192, 120, 0.5) inset;
}
.aboutimizer-widget .share .button.button-donate:hover {background:#e48e07;}
.aboutimizer-widget .share .button.button-rate {
    background-color: #999;
    background-image: -webkit-linear-gradient(#888, #666);
    background-image: linear-gradient(to bottom, #888, #666);
    border-color: #777 #777 #444;
    box-shadow: 0 1px 0 rgba(180, 180, 180, 0.5) inset;
}
.aboutimizer-widget .share .button.button-rate:hover {background:#666;}
.aboutimizer-widget .share .button.button-tweet {
    background-color: #1094bf;
    background-image: -webkit-linear-gradient(#2aadd8, #1094bf);
    background-image: linear-gradient(to bottom, #2aadd8, #1094bf);
    border-color: #10a1d1 #10a1d1 #0e80a5;
    box-shadow: 0 1px 0 rgba(120, 203, 230, 0.5) inset;
}
.aboutimizer-widget .share .button.button-tweet:hover {background:#1094bf;}
.aboutimizer-widget .share .button.button-share {
    background-color: #3b5998;
    background-image: -webkit-linear-gradient(#4e69a2, #3b5998);
    background-image: linear-gradient(to bottom, #4e69a2, #3b5998);
    border-color: #4e69a2 #3b5998 #294079;
    box-shadow: 0 1px 0 rgba(120, 203, 230, 0.5) inset;
}
.aboutimizer-widget .share .button.button-share:hover {background:#3b5998;}